@use "./variables" as v;
@use "./media-mixin" as mm;

@mixin flex($direction: row, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin logo($size: 2.4rem, $width: fit-content) {
  width: $width;
  height: auto;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-size: $size;
  font-weight: 300;
  color: map-get($map: v.$main, $key: "dark-brown");
  cursor: pointer;
  text-decoration: none;
  line-height: 100%;

  @include mm.media-logo();
}

@mixin list-link(
  $fw: 600,
  $height-hover: 0.125rem,
  $gap-list: 1.5rem,
  $justify: flex-start,
  $align: center,
  $direction: row
) {
  width: 100%;
  height: auto;
  @include flex($justify: $justify, $direction: $direction, $align: $align);
  gap: $gap-list;
  font-weight: $fw;

  &-link {
    position: relative;
    text-decoration: none;
    color: map-get($map: v.$main, $key: "black");
    transition: all 0.25s ease-in-out;
    line-height: 100%;

    &.active {
      color: map-get($map: v.$main, $key: "light-brown");
      font-weight: 500;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -0.3rem;
      left: 0;
      width: 100%;
      height: $height-hover;
      background-color: map-get($map: v.$main, $key: "light-brown");
      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 0.5s ease-in-out;
    }

    &:hover,
    &:focus {
      color: map-get($map: v.$main, $key: "light-brown");

      &::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }
}

@mixin social-icon($fs: 1.3rem, $color: "white", $hover: #fff) {
  font-size: $fs;
  color: map-get($map: v.$main, $key: $color);
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &.brown {
    color: map-get($map: v.$main, $key: "light-brown");

    &:hover {
      color: map-get($map: v.$main, $key: "dark-brown");
    }
  }

  &:hover {
    color: $hover;
  }
}

@mixin go-auth($main-color: "white", $hover-color: "light-brown") {
  border: 0.15rem solid map-get($map: v.$main, $key: $main-color);
  padding: 0.4rem 1.1rem;
  color: map-get($map: v.$main, $key: $main-color);
  font-weight: 600;
  letter-spacing: 0.05rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  margin-left: .5rem;

  &:hover {
    background-color: map-get($map: v.$main, $key: $main-color);
    color: map-get($map: v.$main, $key: $hover-color);
  }
}

@mixin hero-wrapper(
  $gap-container: none,
  $width-description: 79%,
  $pb-image: 1.2rem,
  $pt-image: 0,
  $pb-hero: v.$p-media-vertical-page
) {
  width: 100%;
  height: 100%;
  @include flex();
  gap: $gap-container;

  .main {
    width: 100%;
    height: auto;
    @include flex($direction: column, $align: flex-start);
    gap: 1.6rem;
    // margin-top: -4rem;

    .welcome {
      width: 100%;
      height: auto;
      @include flex($justify: flex-start);
      gap: 0.8rem;

      .line {
        width: 3.1rem;
        height: 0.085rem;
        background-color: map-get($map: v.$main, $key: "light-brown");
      }

      .text {
        font-weight: 600;
        font-size: 0.9rem;
        text-transform: uppercase;
        color: map-get($map: v.$main, $key: "light-brown");
        letter-spacing: 0.15rem;
      }
    }

    .title {
      font-size: 8.5rem;
      font-family: "Fraunces", serif;
      color: map-get($map: v.$main, $key: "black");
      line-height: 90%;
    }

    .description {
      color: map-get($map: v.$main, $key: "gray");
      line-height: 135%;
      width: $width-description;
      font-size: 1.1rem;
    }

    .button {
      margin-top: 1.9rem;
      padding: 1.05rem 1.3rem;
      text-transform: uppercase;
      font-size: 0.85rem;
      font-weight: 600;
      letter-spacing: 0.05rem;
      color: map-get($map: v.$main, $key: "light-brown");
      border: 0.08rem solid map-get($map: v.$main, $key: "light-brown");
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        background-color: map-get($map: v.$main, $key: "light-brown");
        color: map-get($map: v.$main, $key: "white");
      }
    }
  }

  .image {
    width: 100%;
    height: fit-content;
    padding-bottom: $pb-image;
    padding-top: $pt-image;
    // margin-top: -3rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @include mm.media-hero-wrapper($pb-hero: $pb-hero);
}

@mixin format-section($media-gap: 2.1rem) {
  width: 100%;
  height: auto;
  position: relative;
  padding: v.$p-vertical-page v.$p-horizontal-page;
  @include flex($justify: flex-start, $align: flex-start, $direction: column);
  gap: 2.8rem;

  @include mm.media-format-section($media-gap: $media-gap);
}

@mixin title-section($color: map-get($map: v.$main, $key: "light-brown")) {
  font-family: "Fraunces", serif;
  font-size: 2.2rem;
  width: 100%;
  height: auto;
  color: $color;
  line-height: 100%;

  @include mm.media-title-section();
}
