@use "./../../../helper/mixin" as m;
@use "./../../../helper/variables" as v;
@use "./media-htp-hero";

.htp-hero {
  width: 100%;
  height: auto;
  // min-height: 125vh;
  position: relative;
  padding: 0 v.$p-horizontal-page;
  @include m.flex($direction: column, $justify: flex-start);

  &-wrapper {
    @include m.hero-wrapper($pb-image: 1.6rem);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 65%;
    height: 100%;
    background-color: map-get($map: v.$main, $key: "white");
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
    height: 100%;
    background-color: map-get($map: v.$main, $key: "light-brown");
    z-index: -1;
  }
}
