@use "./../../../helper/mixin" as m;
@use "./../../../helper/variables" as v;

@media (max-width: 575.98px) {
  .h-benefit {
    &-wrapper {
      flex-direction: column !important;
      gap: 0 !important;

      .wrapper-left {
        height: 65vh !important;
      }
    }
  }
}
