@use "./../../../helper/mixin" as m;
@use "./../../../helper/variables" as v;

.htp-rules {
  @include m.format-section();

  &-title {
    @include m.title-section();
  }

  &-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 1.6rem;

    .container {
      width: 100%;
      height: auto;
      min-height: 18rem;
      @include m.flex(
        $direction: column,
        $align: flex-start,
        $justify: flex-start
      );
      gap: 0.5rem;
      border: 0.1rem solid map-get($map: v.$main, $key: "light-brown");
      background-color: map-get($map: v.$main, $key: "light-brown");
      padding: v.$p-horizontal-page;
      border-bottom: 0.4rem solid map-get($map: v.$main, $key: "dark-brown");
      box-shadow: 0.3rem 0.2rem 1rem
        rgba(map-get($map: v.$main, $key: "black"), 0.35);
      transition: all 0.4s ease-in-out;

      &-subtitle {
        font-size: 1.3rem;
        font-weight: 700;
        color: map-get($map: v.$main, $key: "white");
      }

      &-definition {
        // text-align: justify;
        color: map-get($map: v.$main, $key: "white");
        line-height: 135%;
      }

      &:hover,
      &:focus {
        transform: translateY(-0.6rem);
      }
    }
  }
}
