@use "./../../../helper/mixin" as m;
@use "./../../../helper/variables" as v;

@media (max-width: 575.98px) {
  .g-hero {
    padding: 0 v.$p-media-horizontal-page !important;
    gap: 2.1rem;

    &-wrapper {
      gap: 2rem !important;
    }
  }
}
